<h4>注文履歴詳細</h4>

<h4>購入者</h4>
<p><%= @order.customer.last_name + " " + @order.customer.first_name %></p>

<h4>注文日</h4>
<p><%= @order.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %></p>

<h4>配送先</h4>
<p><%= @order.postal_code + @order.address + @order.customer.last_name + @order.customer.first_name %></p>

<h4>支払い方法</h4>
<p><%= @order.payment_method_i18n %></p>

<h4>注文個数</h4>
<p><%= @order.tyumon %></p>

<h4>商品合計</h4>
<p><%= @order.price_sum %></p>

<h4>送料</h4>
<p><%= @order.shipping_cost %></p>

<h4>請求金額合計</h4>
<p><%= @order.price_sum.to_i + @order.shipping_cost.to_i %></p>

